.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border: 0.1px solid black;
}

.menu li {
    flex: 1; 
}

.menu a {
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: darkslategray;
    background-color: lightgray;
    border: 0.1px solid black;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Montserrat", sans-serif;
}

.menu a:hover {
    background-color: rgb(86, 100, 114);
    color: white;
}