
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #004677;
    --background-color: #f4f4f4;
    --text-color-footer:#727171;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

a{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 0.9em;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    font-family: termina, sans-serif;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
}


.main-content{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}





/* :root{
    box-sizing: border-box;
    color: black;
    background-color: #C0c0c0;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
}

*,::before, ::after{
    box-sizing: inherit;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding:15px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.owners{
    padding-left: 20px;
    border-left: 1px solid black;
    font-size: 1rem;
}
.company-name{
    padding-right: 20px;
    font-weight: bold;
}

.conteiner ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}
.conteiner li{
    padding: 15px;
}

.image-conteiner{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 10%;
}
.image-conteiner img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1s; 
}
.image-container img:hover {
    transform: scale(1.1);
} */